<script type="text/javascript">
    function openRegist(url,title){
        var index = layer.open({
            title:title,
            type:2,
            content: url,
            maxmin: true
        });
        layer.full(index);
    }

    //退出登录
    function logOut(){
        $.post("/regist/logout",{},function(data){
            if(!data.err){
                layer.msg('登出成功！');
                setTimeout(function(){
                    window.location.reload();
                },500)
            }else{
                layer.alert('用户未登录', {
                    icon: 2,
                    skin: 'layer-ext-moon'
                })
            }
        })
    }

    //头部鼠标经过个人头像显示下拉
    $(document).ready(function(){
        $('.hed-user').hover(
                function(){
                    $('.hed-user-xl').stop(true,true).css({"display":"block"}).animate({top:40,opacity:'1'});
                },
                function(){
                    $('.hed-user-xl').stop(true,true).animate({top:60,opacity:'0'});
                }
        )
    })
</script>
<div class="head">
    <div class="container">
        <div class="clearfix">
            <div class="logo"><a href="#"><img src="/front/resource/images/logo.jpg" /></a></div>
            <div class="nav">

                <% if(typeof headIndex === 'undefined')headIndex=false;  %>

                <ul>
                    <li><a href="/" class='<%- headIndex === 1 ? 'over' : '' %>'   >首页</a></li>
                    <li>|</li>
                    <li><a href="#" class='<%-  headIndex === 2 ? 'over' : '' %>'>造物+</a></li>
                    <li>|</li>
                    <li><a href="/front/toActiveList" class='<%- headIndex === 3 ? 'over' : '' %>'>活动</a></li>
                    <li>|</li>
                    <li><a href="/front/prolist" class='<%- headIndex === 4 ? 'over' : '' %>'>创品</a></li>
                </ul>
            </div>

        <%   if($session.USER){ %>

            <div class="hedlogin-later clearfix">
                    <div class="hed-user">
                        <div class="hed-user-img">
                            <a href="/front/toUserCenter">
                                <img src="/front/resource/images/pozhezhao.png" class="zz"/>
                                <img src="<%- $session.USER.imgurl %>" class="tx"/>
                            </a>
                        </div>
                        <div class="hed-user-xl">
                            <dt class="xltop"></dt>
                            <div class="xlnr">
                                <dd><a  href="/front/toUserCenter">个人主页</a></dd>
                                <dd><a href="/front/editUserInfo">账号设置</a></dd>
                                <dd><a href="" onclick="logOut()">注销登录</a></dd>
                            </div>
                            <dt class="xlbotom"></dt>
                        </div>
                    </div>
                    <div class="hed-message">
                        <div class="hed-message-a">
                            <a href="#" title="你有新消息" >
                                <img src="/front/resource/images/hed-message-ico.jpg" class="mess1" />
                                <img src="/front/resource/images/mess2.png" class="mess2"/>
                            </a>
                        </div>
                    </div>
                </div>

        <%   }else{ %>

            <div class="hedlogin">
                <img  style="cursor: pointer;"  onclick="openRegist('/regist/login','登录')" src="/front/resource/images/hdlogin.png" />
                <a href="#" onclick="openRegist('/regist/login','登录')">登录</a>
                <span style="float:right;color:#999;">/</span><a href="#" onclick="openRegist('/regist/index','注册');">注册</a>
            </div>

        <% } %>

            <div class="search">
                <span><input type="text" placeholder="请输入要搜索的关键词" class="txt" /></span>
                <span><input type="button" class="but" /></span>
            </div>
        </div>
    </div>

</div>
<div style="height: 75px;"></div>