<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>发现详情页</title>
    <% include ../include/baseLink%>
</head>
<script type="text/javascript">
    function show(a){
            $("div[id^='son']").hide();
            $("#son"+a).show();
            $(".user-product .title span[class^='tab']").removeClass("over");
            $(".tab"+a).addClass("over");
    };
    $(function(){
        show(1);
    })
</script>
<body ng-controller="cus_detail_control">
<% include ../include/head %>
<div class="wap clearfix">
    <div class="on-1200">
        <div class="user-top clearfix">
            <div class="top-wap">
                <div class="user-head lt">
                    <img class="zz" src="/front/resource/images/txzzzzz.png" />
                    <img class="tx" src="<%- customer.bigimgurl %>" />
                </div>
                <div class="user-mid lt">
                    <div class="user-mid-top">
                        <span class="name"><%-  customer.cate1.cateId === 1  ? 
                         customer.realName :  customer.name %></span>
                        <span class="jop"><%- customer.job.cateName %></span>
                        <span class="addres">
                            <%- customer.address.province %><%- customer.address.city %>
                        </span>
                        <span class="gzs"><b><%- customer.followers.length %></b>人关注</span>
                        <span class="scs"><b><%- customer.checkcounts %></b>查看</span>
                        <span class="guanz">关注</span>
                    </div>
                    <div class="user-info">
                        <%- customer.introduce %>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-product">
            <div class="title">
                <span class="tab1" onclick="show('1')">作品展示</span>
                <span class="tab2" onclick="show('2')">事</span>
            </div>
            <div class="cont clearfix" id="son1" style="display:none;">
                    <ul class="clearfix">
                        <li ng-repeat="pro in products.$array">
                            <a href="{{ pro.taobaoUrl }}" target="_BLANK" >
                                <img class="zpimg" ng-src="{{ pro.imgBigUrl }}" />
                            </a>
                            <h3>{{ pro.title }}</h3>
                            <div class="bt">
                                <div class="price">￥{{ pro.price }}</div>
                                <div class="shar">
                                    <a href="#">
                                    <img src="/front/resource/images/shar2.jpg" /></a>我要分享
                                </div>
                            </div>                            
                        </li>
                    </ul>
                    <div class="page">
                        <span><a ng-show="products.$last"  
                                ng-click="products.$toLast()">上一页</a></span>
                        <span><a ng-show="products.$next"  
                                ng-click="products.$toNext()">下一页</a></span>
                        <span>
                            <a>{{ products.$curPage }}/{{ products.$pageCount }}</a>
                        </span>
                        <span> <a>作品:{{ products.$totalSize }}</a></span>
                    </div>
        </aside>
            </div>
            <div class="contfx clearfix" id="son2">
                    <ul class="clearfix">
                        <li class="fali" ng-repeat="art in articles.$array ">
                            <a class="imgs" href="/front/toArtDetail/{{ art._id }}">
                            <img ng-src="{{ art.imgUrl }}" /></a>
                            <div class="shilt lt">
                                <h3><a href="#">{{ art.title }}</a></h3>
                                <div class="info">{{ art.introduce }}</div>
                                <div class="lks">
                                    <span class="read">{{ art.checkcounts }}</span>
                                    <span class="like">{{ art.praiseCounts }}</span>
                                    <span class="pl">{{ art.comments.length }}</span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="page">
                        <span><a ng-show="articles.$last"  
                                ng-click="articles.$toLast()">上一页</a></span>
                        <span><a ng-show="articles.$next"  
                                ng-click="articles.$toNext()">下一页</a></span>
                        <span>
                            <a>{{ articles.$curPage }}/{{ articles.$pageCount }}</a>
                        </span>
                        <span> <a>文章:{{ articles.$totalSize }}</a></span>
                    </div>
            </div>            
        </div>
    </div>
</div>
<% include ../include/foot %>
<script type="text/javascript">
    GLOBAL_USER_INFO = {
        _id:"<%- customer._id %>",
    }
</script>
<script type="text/javascript"  src="/front/dist/cus_detail.js"></script>
</body>
</html>
