<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="myApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>查看他人主页</title>
    <% include ../include/baseLink%>
</head>
<body ng-controller="user_detail_control">
<% include ../include/head %>
<div class="wap clearfix">
    <div class="on-1200">
        <div class="user-top clearfix">
            <div class="top-wap">
                <div class="user-head lt">
                    <img class="zz" src="/front/resource/images/txzzzzz.png" />
                    <img class="tx" src="<%- customer.bigimgurl %>" />
                </div>
                <div class="user-mid lt">
                    <div class="user-mid-top">
                        <span class="name">
                            <%   if( customer.cate1 && customer.cate1.cateId === 1 ){  %>
                            <%-         customer.realName %>
                            <%   }else{ %>
                            <%-         customer.name %>
                            <%   } %>
                        </span>
                        <span class="jop"><%- customer.job ? customer.job.cateName : "" %></span>
                        <span class="addres">
                            <%- customer.address.province %><%- customer.address.city %>
                        </span>
                        <span class="gzs"><b><%- customer.followers.length %></b>人关注</span>
                        <span class="scs"><b><%- customer.checkcounts %></b>查看</span>
                        <span class="guanz">
                            <attention-load cusid="<%- customer._id %>" ></attention-load>
                        </span>
                    </div>
                    <div class="user-info">
                        <%- customer.introduce %>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-product">
            <div class="title">
                <span>作品展示</span>
            </div>
            <div class="hdwork clearfix">
                <ul>
                    <li ng-repeat="work in works.$array">
                        <dl class="showOverPic">
                            <dd
                                    ng-repeat="pic in work.fileUrls"
                                    data-sub-html="{{ pic.name }}"
                                    data-src="{{pic.url}}"
                                    ng-show="!$index>0"
                                    >
                                <a href=""><img class="zpimg"  ng-src="{{pic.url}}" /></a>
                            </dd>
                        </dl>
                        <h3>{{work.fileUrls[0].name}}</h3>
                        <div class="hdbq">
                            <span class="zz">作者：<b>{{ work.$user.name }}</b></span>
                            <span class="see">浏览：<b>132</b></span>
                            <span class="tp">投票：<b>{{ work.votes.length }}</b></span>
                        </div>
                        <div class="hdbq"><span class="tota">投他一票</span></div>
                    </li>
                </ul>
            </div>
            <div class="page">
                        <span><a ng-show="works.$last"
                                 ng-click="works.$toLast();">上一页</a></span>
                        <span><a ng-show="works.$next"
                                 ng-click="works.$toNext();">下一页</a></span>
                        <span>
                            <a>{{ works.$curPage }}/{{ works.$pageCount }}</a>
                        </span>
                <span> <a>作品:{{ works.$totalSize }}</a></span>
            </div>
        </div>
    </div>
</div>
<% include ../include/foot %>
<script type="text/javascript">
    GLOBAL_USER = "<%-  customer._id %>"

    $(document).ready(function(){
        setTimeout(function(){
            $('.showOverPic').lightGallery();

        },500)
    });
</script>
<script type="text/javascript" src="/front/dist/user_detail.js"></script>
</body>
</html>
